body{
	text-align: center;
}

.lines{	
	border-top: 10px solid green;
	border-bottom: 10px solid yellow;
	text-align: center;
}

.lines2{	
	border-top: 10px solid rgb(21, 84, 179);
	border-bottom: 10px solid rgb(255, 0, 140);
	text-align: center;
}

#cabecalho{
	
	font-size:500%;
	color:blue;
	text-align: center;
}


h2{
	
	font-size:170%;
	color:blue;
	margin-bottom:0;
	padding-left: 20px;
	text-align: center;

}


h3{
	
	font-size:170%;
	color:black;
	
	padding-left: 20px;
	text-align: center;
}
h4{
	
	font-size:170%;
	color:black;
	margin-bottom: -20px;
	padding-left: 20px;
	text-align: center;
}



#noticias{
	font-size:300%;
	color:blue;
	margin-bottom:0;
	padding-left: 20px;
	text-align: center;
}

text{
	font-family: Verdana, Arial, Sans-serif;
}


p{
	
	padding-left: 21px;
	text-align: center;
}
button{
	border-radius: 5px;
}